/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Per-module configuration: publishing and tool arguments
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    publishDir = [
        path: { params.outdir },
        mode: 'copy'
    ]

    withName: HMMER_HMMSEARCH {
        ext.prefix = { "${meta.id}_mgnifams" }
        ext.args = [
            "--noali",
            "-Z ${params.effective_db_size}",
            "--domZ ${params.effective_db_size}",
            "-E ${params.evalue_cutoff}",
            "--domE ${params.evalue_cutoff}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}" },
            mode: "copy",
            enabled: false
        ]
    }

    withName: APPEND_MGNIFAMS {
        ext.args = { "--domain-evalue-threshold ${params.evalue_cutoff}" }
    }
}
