/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running local tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a local pipeline test.

    Use as follows:
        nextflow run vagkaratzas/hmmsearch_mgnifams -profile test_local

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    // Input options
    input_csv               = "${projectDir}/../../input/sequence_explorer_protein_test_100001.csv.gz"
    hmm_lib                 = "${projectDir}/../../assets/mgnifams_v2_results/generate_families/families/mgnifams_hmm.lib.gz"
    evalue_cutoff           = 0.001
    fasta_records_per_chunk = 10000 // 10 chunks
    effective_db_size       = 100000

    // Boilerplate options
    outdir = "${launchDir}/output"

}

process {
    withName: HMMER_HMMSEARCH { cpus = 8; memory = '5.0 GB'; time = '24h' }
}

